@font-face{
	font-family: 'h1_font';
	src: url('../police/Sansation_Regular.ttf') format('truetype');
}

body{
	background-color: #E9F2F9;
	/*width: 1000px;
	margin: auto;*/
}

/*********************************
********** Header part ***********
**********************************/


header{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #9CC4E4;
	min-width: 510px;
	/*transition: all 0.3s linear;*/
}

header h1{
	font-family: Avenir, 'h1_font', Trebuchet MS, Arial, Serif;
	color: #1B325F;
	font-size: 40px;
	text-align: center;
	/*transition: all 0.3s linear;*/
}

header nav{
	background: #3A89C9;
}

header nav ul{
	margin: 0px;
	text-align: center;
	padding: 0px;
}

header nav li{
	display: block;
	list-style: none;
	display: inline-block;
	font-size: 20px;
	font-family: Trebuchet MS;
	padding: 15px 0px;
}

header nav li a{
	color: #E9F2F9;
	text-decoration: none;
	padding: 15px 30px;
	margin: 0px;
	transition: all 0.3s linear;
}

header nav li a:hover{
	background: #E9F2F9;
	color: #3A89C9;
	transition: all 0.3s linear;
}

header.scrolled{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #3A89C9;
	min-width: 510px;
}

header.scrolled h1{
	font-family: Avenir, 'h1_font', Trebuchet MS, Arial, Serif;
	color: #E9F2F9;
	float: left;
	font-size: 25px;
	margin: 0px;
	padding: 15px 30px;
}

header.scrolled nav{
	float: right;
	vertical-align: middle;
}

header.scrolled nav ul{
	margin: 0px;
	text-align: center;
	padding: 0px;
}

header.scrolled nav li{
	display: block;
	list-style: none;
	display: inline-block;
	font-size: 18px;
	font-family: Trebuchet MS;
	padding: 21.5px 0px;
}

header.scrolled nav li a{
	color: #E9F2F9;
	text-decoration: none;
	padding: 21.5px 25px;
	margin: 0px;
	/*transition: all 0.3s linear;*/
}

header.scrolled nav li a:hover{
	background: #E9F2F9;
	color: #3A89C9;
	/*transition: all 0.3s linear;*/
}

header.scrolled h2{
	text-align: center;
	float: left;
	font-size: 20px;
	width: 500px;
	margin: auto;
	padding: 18.5px 0px;
}

@media all and (max-width: 660px) {
}

/*********************************
********** Aside part **********
**********************************/

aside{
	position: fixed;
	width: 100%;
	background-color: #1B325F;
	top: 161px;
	left: 0px;
}

aside.scrolled{
	position: fixed;
	width: 100%;
	background-color: #1B325F;
	top: 63px;
	left: 0px;
}

aside form{
	margin: 12px;
	text-align: center;
}

/*********************************
********** Section part **********
**********************************/

section{
	/*position: relative;*/
	display: block;
	margin: auto;
	margin-top: 220px;
	width: 1000px;
	text-align: center;
}

h2{
	font-family: Avenir;
	font-size: 35px;
	color: #F26C4F;
}

/*********************************
********** Footer part **********
**********************************/

footer{
	position: relative;
	width: 100%;
	margin: 50px 0px 0px 0px;
	background-color: #9CC4E4;
	text-align: center;
}


/*********************************
********** Table part **********
**********************************/

th{
	font-family: Avenir, 'h1_font', Trebuchet MS, Arial, Serif;
	font-size: 25px;
	background-color: #3A89C9;
	color:white;
	border: none;
}